/* There is no entry with id BDTLL_tooltip */
#BDTLL_tooltip .BDTLL_tooltip_title {
  font-size: 12px;
  font-weight: bold;
  padding-top: 7px;
  padding-left: 85px;
  padding-top: 22px;
  padding-bottom: 5px;
  color: white;
}

#BDTLL_tooltip .BDTLL_tooltip_message {
  color: #B2B2B2;
  font-size: 12px;
  padding-left: 85px;
  height: 45px;
  overflow: hidden;
}
